<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

<h1>Editing Point</h1>

<%= render 'form' %>

<%= link_to 'Show', [@point.track, @point] %> |
<%= link_to 'Back', track_points_path(@point.track) %>
