<title>Bienvenido <%= current_user.nombre %></title>
<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>  

<!-- Tarjeta Resumen de Recorridos-->
<div class="card3">
<div class="Mis_Recorridos"><%= link_to 'Mis Recorridos', tracks_path %></div>
<div id="container" class="sidebar" style="height: 300px; width: 600px"></div>
</div>

<!-- Tarjeta Estadisticas Globales-->
	<div id='dashboard' class=dark></div>
	<div id='tiempo_t' class="estilo2"></div>
	<div id='distancia_t' class="estilo1"></div>
	<div id='recorridos_t' class="estilo3"></div>
	<div class="container">
		<div class="card">
				<div class="nombre"> <%= current_user.nombre %> <%= current_user.apellido %></div>
				<div class="weather">
				<div class="sun"></div>
				</div>
	 	</div>
	</div>


<!-- Tarjeta Clima -->
  <div class="card2">
  <div id='imagen' class=imagen></div>
  <div id='fecha' class=fechaT></div>
  <span id="city"></span>
  <span id="humidity"></span>
  <div class="datos_temp"><span id="temp"></span></div> 
  </div>

<style>
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
	background: #95a5a6;
}

.Mis_Recorridos{
	position: absolute;
	top: 20px;
	left: 20px;
	color: gray;
	font-size: 20px;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
}

.card3 {
    position: absolute;
	left: 50px;
	top:  400px;
	background: #fff;
	height: 380px; 
	width: 630px;
	border-radius: 7px;
	box-shadow: 0.3px 0.3px 0.3px 1px rgba(0,0,0,0.2);
	font-family: 'Roboto', sans-serif;
	z-index: 1;
}

.sidebar{
	position:absolute;
	top: 60px;
	left: 20px;
}

.imagen{
	position: absolute;
	left: 235px;
	top: 75px;
    z-index: 3;
}


.datos_temp{
	position: absolute;
	display:block;
	left: 20px;
    top: 75px;
}

#temp {
	position: absolute;
	display:inline;
	color: black;
	font-size: 55px;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
}


#status-icon{
	position: absolute;
	left: 270px;
    z-index: 2;
}

#humidity {
	position: absolute;
	left: 30px;
	top: 172px;
	color: black;
	font-size: 15px;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
}

.fechaT{
	position: absolute;
	left: 30px;
	top: 50px;
	color: black;
	font-size: 15px;
    font-family: 'Roboto', sans-serif;
    z-index: 2;	
}

#city {
	position: absolute;
	left: 30px;
	top: 20px;
	color: gray;
	font-size: 20px;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
}


.card2 {
    position: absolute;
	left: 400px;
	top:  100px;
	background: #fff;
	height: 220px; width: 340px;
	border-radius: 7px;
	box-shadow: 0.3px 0.3px 0.3px 1px rgba(0,0,0,0.2);
	font-family: 'Roboto', sans-serif;
	z-index: 1;
}


.container {
	width: 100%; height: 100%;
	margin: 100px auto;
		z-index: 0;
}

.card {
    position: absolute;
	left: 50px;
	top:  100px;
	background: #fff;
	height: 220px; width: 340px;
	border-radius: 7px;
	box-shadow: 0.3px 0.3px 0.3px 1px rgba(0,0,0,0.2);
	font-family: 'Roboto', sans-serif;
	z-index: 1;
}

.nombre, .distancia {
	color: gray;
	margin-left: 35px;
}

.nombre {
	padding-top: 30px;
	font-size: 26px;
}

.distancia {
	font-size: 20px;
	line-height: 40px;
}

.sun {
	position: absolute;
	display: inline;
	margin-left: 35px;
	margin-top: 20px;
	width: 70px;
	height: 70px;
	background: rgba(241, 196, 15,0.76);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.estilo1 {
	position: absolute;
	left: 180px;
	top: 175px;
	color: black;
	font-size: 30px;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
}

.estilo2 {
	position: absolute;
	left: 180px;
	top: 220px;
	color: black;
	font-size: 30px;
    font-family: 'Roboto', sans-serif;
    z-index: 3;
}

.estilo3 {
	position: absolute;
	left: 85px;
	top: 275px;
	color: black;
	font-size: 15px;
    font-family: 'Roboto', sans-serif;
    z-index: 3;
}
</style>