// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#map {
position:relative;
top:0px;
left:0px;
//margin: 150px 0px; // desde arriba - desde la derecha
height: 60%;
width: 73%;
}