// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#map {
position:absolute;
top:100px;
left:50%;
height: 500px;
width: 40%;
}