!!!
%html
  %head
    %title Rubi Login
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row-fluid
      .span10.offset1
        .hero-unit.text-center
          %h1
            RUBI
          %p
            Estás a un pedal de cambiar el mundo
    .row-fluid
      .span4.offset4
        = yield