!!!
%html
  %head
    %title Rubi Login
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .fondo
    .row-fluid
      .span10.offset1
        .hero-unit.text-center
          %h1
            RUBI
          %p
            Hora de Pedalear
    .row-fluid
      .span4.offset4
        = yield


:css
  body {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }


